html,
body {
  overflow-x: hidden;
}

::placeholder {
  color: rgba(107, 114, 128, 0.5) !important;
}

.nav-offset {
  margin-top: 56px !important;
  min-height: 100vh !important;
}

.signup-or {
  max-width: 64px;
  margin: 0 auto;
  transform: translateY(-30px);
}

.button-icon svg {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
}

.sidebar {
  position: fixed;
  height: calc(100vh - 56px);
  background: #f8f9fa;
  padding: 12px;
  transform: translateX(12px);
}

.w-108 {
  width: 108px;
}

.block {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
}

.block label {
  margin: 0;
  line-height: 38px;
}

.center {
  margin: 0 auto;
}

.btn + .btn {
  margin-left: 8px;
}

.mr-2 {
  padding-right: 0.5rem !important;
}

.pb-4 {
  padding-bottom: 1rem !important;
}

.red-text {
  color: #e3342f;
}

.inline-block {
  display: inline-block;
}

.price {
  float: right;
}

.block {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
}

.block label {
  margin: 0;
  line-height: 38px;
}

.cursor-pointer {
  cursor: pointer;
}

.form-page {
  max-width: 370px;
  margin: 0 auto;
}

.line-through {
  text-decoration: line-through;
}

.full-width {
  width: 100%;
}
