body,
html {
  background: white;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  margin-left: 0px;
  padding-left: 0px; }

a {
  color: #0000ff;
}

hr {
  border: 2px solid black;
}

div.mainbody {
float:left;
margin-left:125px;
margin-right:20px;
}

div.mainbody h1{
 margin-top:20px;
 margin-left:0px;
 float:left;
}

div.mainbody h1{
 margin-top:20px;
 margin-left:0px;
 float:left;
}

div.mainbody p{
 float:left;
}

div.sidenav a {
   color: white;
}

div.account_info span {
   color: white;
   margin-left:3px;
   margin-right:10px;
}

div.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  left: 0;
  background-color: black;
  color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.sidenav a {
  padding: 2px 3px 5px 10px;
  text-align:left;
  font-size: 90%;
  color: white;
  display: block;
}

div.searchbox input{
 border-radius:15px;
 max-width:95px;
 margin:25px 0px 0px 2px;
 font-size:90%;
 }

div.searchbox ::placeholder{
 padding:5px 5px 5px 5px;
 font-size:90%;
 }

div {
   margin-left:0px;
}

.navbar-brand {
  color: white;
  font-size:150%;
  margin-right:30px;
  margin-left:5px;
  padding-right:40px;
}

nav.navbar {
  width: inherit;
  top: 0%;
  background-color: black;
}

div.row {
  margin-left:0px;
  padding:0px;
  max-width:100%;
}

nav#top-navbar {
  background-color: black;
}

nav#top-navbar a {
  color:white;
  padding-left:15px;
  padding-right:20px;
}

nav#top-navbar a:hover {
  color: #ffff00;
}

nav#top-navbar button {
  background-color:white;
  color:black;
}


h2.sum-header {
  margin-top:0px;
  display:inline;
  float: left;
  margin-left:0px;
  text-align:left;
}

p.error {
  margin-top: 20px;
  color: #ee0000;
  font-weight: bold;
  font-size: 150%
}


.no-img {
  border: solid #0000ff 2px;
  color: #333333;
  background-color: #fff;
  padding: 5px;
  margin: 5px 2px 5px 2px;
  text-align: center;
  font-size: 180%;
  width: 80%;
}

.dropdown-menu {
  padding: 5px 0px 5px 15px;
  margin: 0px;
}

nav#top-navbar .dropdown-menu .nav-link1 {
  color: black;
}

nav.navbar a.nav-link {
  text-align:left;
  padding-bottom:0px;
  padding-right:10px;
  padding-top:0px;
  margin-bottom:0px;
  margin-top:0px;
  margin-right:10px;
  margin-left:5px;
  color:white;
}

.sidenav a:hover {
  color: #ffff00;
}

div.mainbody form{
/*  margin-top:100px;*/
  margin-bottom:10px;
}

button.login-btn{
  background-color: black;
  color: white;
}

label.reglabel {
  font-weight:bold;
  font-size:110%;
  vertical-align:center;
  color: black;
  padding-right:5px;
  }

label.loginlabel {
  font-weight:bold;
  font-size:110%;
  vertical-align:center;
  color: black;
  padding-right:5px;
}

div.input-group ::placeholder {
   color: black;
   font-style: italic;
   text-align: center;
   margin-bottom:15px;
}

form.RegisterForm {
  padding-top:10px;
  margin-bottom:10px;
}

p.LoginError {
  text-align: center;
  margin-top: 5px;
  color: #ee0000;
  font-weight: bold;
  font-size: 75%
}

div.card img {
  border-radius:15px 0px 0px 0px;
  max-height:150px;
  max-width:200px;
}

div.card {
  margin:10px 0px 0px 0px;
  max-height:600px;
  overflow-y: auto;
  overflow-x: auto;
}

div.card-body {
  margin-top:0px;
  margin-bottom:10px;
  padding: 0px 10px;
}

h2.card-title {
  text-align: center;
  padding-top:0px;
  font-size: 100%;
  font-weight: bold;
  color: blue;
  padding-bottom:0px;
  margin-top:10px;
  margin-bottom:20px;
}

div.card-text {
  font-style: italic;
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

span.detKey {
  text-align: left;
  font-weight: bold;
  margin:0px;
  padding:0px;
}

p.detKey {
  text-align: left;
  padding:0px;
  margin:2px;
  font-weight: normal;
  color: #333333;
  font-style: italic; 
}

.dropdown-menu {
  height: 200px;
  overflow-y: scroll;
}

#input-group-dropdown-2 {
  text-transform: capitalize;
}