node_modules
client/node_modules
server/node_modules
package.lock-json
client/package-lock.json
server/package-lock.json
client/yarn.lock
server/yarn.lock
dump.rdb
yarn.lock
.env
*.swp
*.rdb
server/firebase/serviceAccount.json